infer-out/

/bin
/target/
!.mvn/wrapper/maven-wrapper.jar
__pycache__/

# Gradle #
.gradle/
build/

# JaCoCo #
jacoco/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
.DS_Store

unison-server.service
harmonie.mv.db
harmonie.trace.db

000-default.conf
